@page "/request"
@inject WeatherForecastService ForecastService
@inject IRequest _iRequest
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@using ClosedXML.Excel

<PageTitle>Request</PageTitle>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @* <h3 class="card-title">Request Details</h3> *@
                        <a class="btn btn-primary" href="/request/add">
                            <i class="fa fa-plus"></i>
                            Add Request
                        </a>
                        <a class="btn btn-warning">
                            <i class="fa fa-download"></i>
                            Update Request
                        </a>
                        <a class="btn btn-info" @onclick="DownloadExcel">
                            <i class="fa fa-download"></i>
                            Download Excel
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        @if (_Result == null)
                        {
                            <p><em>Loading...</em></p>
                        }
                        else if (!_Result.isTransactionDone)
                        {
                            <p><em>@_Result.transactionMessage</em></p>
                        }
                        else
                        {

                            <table id="dtRequest" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Source</th>
                                        <th>Category</th>
                                        <th>BU</th>
                                        <th>Base P/N</th>
                                        <th>Part Desc</th>
                                        <th>Screening</th>
                                        <th>BC</th>
                                        <th>Pilot</th>
                                        <th>Production</th>
                                        <th>AF Qty</th>
                                        <th>Need By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in _Result.request)
                                    {
                                        <tr>
                                            <td>@item.requestId</td>
                                            <td>@item.requestorSource</td>
                                            <td>@item.repairCategory</td>
                                            <td>@item.businessType</td>
                                            <td>@item.basePartNumber</td>
                                            <td>@item.partDescription</td>
                                            <td>@item.screeningStatus</td>
                                            <td>@item.businessCaseStatus</td>
                                            <td>@item.pilotReviewStatus</td>
                                            <td>@item.prdImplementation</td>
                                            <td>@item.t1CustomerQty</td>
                                            <td>@item.needByDate</td>
                                            <td>
                                                <a href='/request/edit/@item.groupRequestId' class='text-warning' title='Click here to edit record'><i class='fa fa-pen'></i></a>
                                                <a href='javascript:void(0);' class='text-secondary' onclick='request_events.viewRequest(" + JsonResultRow.requestId + ")' title='Click here to update status'><i class='fa fa-info-circle'></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>







@code {
    private RequestResult? _Result;

    [Parameter]
    public bool Searchable { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string id { get; set; } = "DataTable-" + Guid.NewGuid().ToString();

    protected override void OnParametersSet()
    {
        StateHasChanged();
        base.OnParametersSet();
    }


    protected override async Task OnInitializedAsync()
    {
        _Result = await _iRequest.GetRequestList();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeAsync<string>("ConvertDatatable", new object[] { "#dtRequest", Searchable });
        await base.OnAfterRenderAsync(firstRender);
    }

    private async void DownloadExcel()
    {

        using var wbook = new XLWorkbook();
        var ws = wbook.AddWorksheet("Sheet1");

        // ws.FirstCell().Value = 150;
        // ws.Cell(3, 2).Value = "Hello there!";

        // ws.Column(2).AdjustToContents();

        int Columns = 4;
        int Rows = 5;


        List<ExcelData> _Data = populateData();


        #region Creating Headers

        ws.Cell(1,1).Value = "Student Id";
        ws.Cell(1,2).Value = "First Name";
        ws.Cell(1,3).Value = "Last Name";
        ws.Cell(1,4).Value = "Class";
        ws.Cell(1,5).Value = "Mark 1";
        ws.Cell(1,6).Value = "Mark 2";
        ws.Cell(1,7).Value = "Total";


        // for (int i = 0; i <= _Data.Count; i++)
        // {
        //     //ws.Cell(1,i).Value = _Data;
        //     ws.Column(i+1).AdjustToContents();            
        // }

        #endregion
        for (int i = 0; i < _Data.Count; i++)
        {
            ws.Cell(i + 2, 1).Value = _Data[i].studentId;
            ws.Cell(i + 2, 2).Value = _Data[i].firstName;
            ws.Cell(i + 2, 3).Value = _Data[i].secondName;
            ws.Cell(i + 2, 4).Value = _Data[i].className;
            ws.Cell(i + 2, 5).Value = _Data[i].Mark1;
            ws.Cell(i + 2, 6).Value = _Data[i].Mark2;
            ws.Cell(i + 2, 7).FormulaA1 = "E" + (i + 2) + "+F" + (i + 2) + "";
        }



        //ws.Cell("A6").SetValue("falcon").SetActive();



        wbook.SaveAs("data.xlsx");

        // XLWorkbook workbook

    }


    public class ExcelData
    {
        public int studentId { get; set; }
        public string firstName { get; set; }
        public string secondName { get; set; }
        public string className { get; set; }
        public double Mark1 { get; set; }
        public double Mark2 { get; set; }
    }

    public List<ExcelData> populateData()
    {
        List<ExcelData> data = new List<ExcelData>();

        for (int i = 0; i < 5; i++)
        {
            data.Add(
            new ExcelData
                {
                    studentId = i + 1,
                    firstName = "First Name " + (1 + i),
                    secondName = "Second Name " + (1 + i),
                    className = "VI A",
                    Mark1 = 12 + i,
                    Mark2=25 + i
                });
        }
        return data;
    }

}


